@import url('https://fonts.googleapis.com/css2?family=Chivo:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Chivo', sans-serif;
    /*background: linear-gradient(130deg,#be1558 ,#322514 );*/
    background-color: rgb(90, 86, 86);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 400px;
    height: 600px;
    background-color: #e9a8a6 ;
    display: grid;
    grid-template-rows: repeat(9,1fr);
    box-shadow: 5px 4px 10px 1px rgba(29, 28, 28, 0.897);
    border-radius: 6px;
    font-weight: bold;
}

#screen{
    grid-row: 1/4;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    margin: auto;
    position: relative;
    
}

#screen .battle{
    width: 300px;
    max-width: 300px;
    overflow-y: auto;
    grid-row:1/4;
    border-bottom: 1px solid #ac5264;
    font-size: 22px;
    padding: 20px;    
}

#screen .resultScreen{
    grid-row: 4/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#screen .resultScreen span{
    font-size: 40px;
    color: #d44461;
}

#buttons{
    width: 100%;
    height: 100%;
    grid-row: 4/-1;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(5,1fr);
    padding:15px;
}

#division1{
    grid-row: 1/4;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
}

#division2{
    grid-row: 4/-1;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

#row1, #row2, #row3{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

#division3{
    grid-column:1/4;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr)
}


#row4,#row5{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;    
}

.button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.rose{
    background-color:  #df5a75;
    font-size: 22px;
}

.rose:hover{
    background-color:  #ac5264;
    opacity: 0.8;
}

.black{
    background-color: #322514;
    font-size: 17px;
}

.black:hover{
    background-color: #4d4131;
    opacity: 0.8;
}
